@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~bootstrap";
@import "variables";

.navbar{
  background-color:$blue!important;
  color: white;
  ul{
    li{
      font-size: 24px;
      a{
        color: #DEECEE!important;
        text-align: center;
        transition:  0.4s ease;
        margin: 0 35px;
        img {
          height: 30px;
        }
      }
      a:hover{
        color: #DEECEE!important;
        img{
          transform: rotate(360deg);
          transition:  0.4s ease;
        }
      }
    }
  }
}

.navbar-brand {
  img {
    width: 200px;
  }
}

.navbar-nav {
}

.navbar-brand {
  img {
    width: 200px;
  }
}

// MEDIAS QUERIES
@media (max-width:961px){
  .navbar{
    position: fixed!important;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    img {
      height: 30px;
    }
  }
  .navbar-brand{
    display: none;
  }

  .navbar-nav {
    margin: 0 auto 0 auto;
  }
}



@media (max-width:575px){
  .navbar{

    img {
      height: 20px;
    }
    ul li a {
      margin: 0px 25px;
      font-size: 15px;
    }
  }
  .navbar-nav{
    flex-direction: row!important;
  }

}