@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~bootstrap";
@import "variables";

.alerts{
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  display: block;
  margin: 15px auto;
  border: none;

  &.alerts-success{
    background-color: $blue;
  }

  &.alerts-error{
    background-color: #bb525b;
  }

  &.alerts-info{
    background-color: #5278bb;
  }
}