@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~bootstrap";
@import "variables";

.box{
    padding: 0px 30px;
    h1{
        text-align: center;
        margin: 0 0 15px 0;
    }

    .blue-box{
        background: $blue;
        color: white;
        display: block;
        margin: 25px auto 0 auto;
        width: max-content;
        padding: 5px 15px;
        box-shadow: 2px 4px 0px $blue-secondary;
        border-radius: 6px;
    }
    .blue-box:hover{
        background: #015a68 !important;
        box-shadow: 2px 4px 0px #659aa1 !important;
        color: white!important;
    }

    #product div, #registration_form div, #login_form, #user div{
        margin-top: 10px;

        input{
            border: none;
            border-radius: 3px;
            margin-left: 10px;
            width: 100%;
        }
    }
}
.yellow-box{
    background: $yellow;
    box-shadow: 3px 4px 0px $yellow-secondary;
    border-radius: 6px;
    img {
        text-align: center;
        display: block;
        margin: auto;
        border-radius: 7px;
    }
}
.product:hover{
    background: #e8bb19 !important;
    box-shadow: 3px 4px 0px #f8d97a !important;
    transition: background-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out;
}

.product{
    margin: 30px;
    padding: 5px;
    transition: background-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out;
    h2{
        text-align: center;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: white;
        text-decoration: none;
    }
}

//.blue-box{
//    background: $blue;
//    box-shadow: 2px 4px 0px $blue-secondary;
//    border-radius: 6px;
//}


.dropdown-btn{
    border: 1px solid #cca727 !important;
    padding: 1px 10px!important;
    background-color: white!important;
    border-radius: 3px!important;
    font-size: 20px!important;
}

.btn-group ul li a img{
    width: 25px;
    height: 25px;
    border-radius: 0;
}

.clear-both{
    clear: both;
}

.message-bar{
    width: 100%;
    box-shadow: 2px 4px 0px #80B7BF;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border: 1px solid #006E7F;
    padding: 6px;
}

.send-button{
    background: #006E7F;
    color: white;
    width: max-content;
    box-shadow: 2px 4px 0px #80B7BF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none;
}

.card{
    border-radius: 0;
}

.chat{
    height: 48vh;
    overflow-y: auto;
}