@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~bootstrap";

$primary-font: 'Quicksand', sans-serif;

$yellow: #F8CB2E;
$yellow-secondary: #FBE597;

$blue: #006E7F;
$blue-secondary: #80B7BF;

.mt-6 {
  margin-top: 7rem !important;
}