{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto box yellow-box">

            <h1>Create Product</h1>

            {{ include('product/_form.html.twig') }}

        </div>
    </div>

{% endblock %}
