{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-sm-8 col-xs-4 mx-auto box mt-4 box">
        <div class="yellow-box p-4">
            <h1>Create Product</h1>

            {{ include('product/_form.html.twig') }}
        </div>
    </div>
    <div class="mt-6"></div>

{% endblock %}
