{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-sm-8 col-xs-4 mx-auto box mt-4 box">
        <div class="yellow-box p-4">
            <h1>Exchange Product</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-grid gap-2">
                <input type="submit" value="{{ submitButtonText|default('Create Product') }}" class="btn blue-box" formnovalidate>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
    <div class="mt-6"></div>

{% endblock %}
